body {
    background-color: black;
    margin: 0;
}

* {
    color: white;
    font-family: 'Apple Chancery', cursive;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.topbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
    justify-content: center;
}

.menu li {
    cursor: pointer;
    font-size: 20px;
}

.menu li a {
    text-decoration: none;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background: #222;
    border-radius: 12px;
    padding: 20px;
    */
}
/*
#graphCanvas {
    background-color: #000;
    border: 1px solid #555
}
    */

.zoom-controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.zoom-controls {
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}